<p id="notice"><%= notice %></p>


  <div id="map" style='width: 800px; height: 400px;'></div>  
</div>  

<script type="text/javascript">  
handler = Gmaps.build('Google');  
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){  
  markers = handler.addMarkers([  
    {  
      "lat": <%= @house.lat %>,  
      "lng": <%= @house.lon %>,  
      "picture": {  
        "width":  32,  
        "height": 32  
      },  
      
    }  
  ]);  
  handler.bounds.extendWith(markers);  
  handler.fitMapToBounds();  
});  
</script>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @house.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @house.address %>
</p>

<p>
  <strong>Postal:</strong>
  <%= @house.postal %>
</p>

<p>
  <strong>Description:</strong>
  <%= @house.description %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @house.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @house.lon %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @house.rating %>
</p>

<p>
  <strong>Price:</strong>
  <%= @house.price %>
</p>
aaaa
<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
